{% extends "layout.html.twig" %}
{% block contenu %}

    <form method="post" action="{{ path('commentaires.validFormDeleteCommentaire') }}">
        <div class="row">
            <fieldset>
                <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token_delete_commentaires') }}">
                <input type="hidden" id="_method" name="_method" value="delete" />
                <input type="hidden"   name="id"   value="{{ id }}">
                <legend>Supprimer un comentaire</legend>
                <label>Commentaire :
                    <h3>{{ com.commentaire }}</h3>
                </label>
                <input type="submit" name="ajouterCommentaires" value="Supprimer le commentaire" />
            </fieldset>
        </div>
    </form>
{% endblock %}