{% extends "layout.html.twig" %}

{% block contenu %}
<div class="row">
    <table align="center">
        <caption>Détails de la commande du client</caption>
        <thead>
        <tr>
            <th>Nom de la voiture</th><th>Quantité de voitures</th><th>Prix d'une voiture</th><th>Date d'ajout</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
        <tr>
            <td>{{ produit.nom }}</td><td>{{produit.quantite}}</td><td>{{produit.prix}}</td><td>{{ produit.dateAjoutPanier }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>

{% endblock %}